.board {
    height: 640px;
    width: 640px;
    margin: auto;
    border-style: solid;
    border-color: black;
}

.square {
    height: 80px;
    width: 80px;
    float: left;
}

.square.lightSquare {
    background-color: white;
}

.square.blackSquare {
    background-color: grey;
}

.square.validMove {
    background-image: url(../data/valid80.svg);
}

.piece.selected {
    background-image: url(../data/selected80.svg);
}

img {
    height: 80px;
    width: 80px;
}